include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include src/opender_interface *.mplstyle

# If including data files in the package, add them like:
# include path/to/data_file